/*新闻页侧边栏*/
.sidebar{
	width: 100%;
	position: relative;
	border-top: 4px solid rgb(28,38,69);
	border-left: 8px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-radius: 0px 5px 0px 10px;
	margin-right: 30px;
	background: white;
	padding-bottom: 30px;
}
.sidebar h2{
	margin-left: 20px;
}
.sidebar ul li{
	display: block;	
	margin-left: 20px;
	font-size: 16px;
	border-bottom: 1px solid #e7e7e7;
}
#news_left_ul li{
	height: 50px;
	overflow: hidden;
	line-height: 50px;
}	
.sidebar ul li a{
	color: #000000;
}
/*新闻页列表*/
.main_container{
	border-top: 4px solid rgb(28,38,69);
	border-left: 8px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-radius: 0px 5px 0px 10px;
	padding-top: 20px;
	background: white;margin-bottom: 100px;
}
.news_main > ul > li{
	padding: 10px 0;
	overflow: hidden; 
	border-bottom: 1px solid #e0e0e0;
}
.news_main > ul > li > time{
	color: #999;
}
.news_main > ul > li > time i{
	font-size:.8em;
	margin-right: 2px;
}
.news_main > ul > li > div > a{
	font-size: 16px;
	display: block;
	padding-top: 10px;
	color: #000000;
}
/*分页*/
.paging{
	height: 60px;
}
.paging ul{
	display: flex;
	justify-content: center;
}
.paging ul li{
	float: left;
	margin-left: 20px;
}
/*新闻内容页*/
.article{
	text-align: center;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 20px;
}
.article span{
	margin-left: 20px;
}
.back_a{
	margin: 0 auto;
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #e7e7e7;
	color: rgb(28,38,69);
}
/*教师风采*/
.teacher_main{
	border-top: 4px solid rgb(28,38,69);
	border-left: 8px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-radius: 0px 5px 0px 10px;
	padding-top: 20px;
	background: white;
	margin-bottom: 100px;
}
.img_item{
	display: block;
	color: white;
	border: 1px solid #e7e7e7;
	box-shadow: -3px -2px #ccc;
	margin-bottom: 20px;
	margin-left: 5px;
}
.img_item:hover,
.img_item:hover .img_text{
	color: #FF4500;
	text-decoration: none;
}
.img_top{
	width: 100px;
	height: 100px;
	box-shadow: 0 0 7px 1px #ccc;
	border-radius: 55px;
	text-align: center;
	position: relative;
	margin: 45px 55px;
	overflow: hidden;
}
.img_top img{
	width: 100%;
	position: relative;
}
.img_text{
	text-align: center;
	background: rgb(28,38,69);
}
.img_text h3{
	padding-top: 15px;
	font-size: 20px;
}
.img_text span{
	display: inline-block;
	width: 100%;
	font-size: 12px;
	padding-bottom: 5px;
}
